<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicespace">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="공책"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.LoginBridge"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAb3EkyBWU9cJ1yjNVdBE4tTxv97Nw_-Kw" />

        <activity
            android:name=".ui.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginWebview"
            android:exported="true"></activity>
        <activity
            android:name=".ui.Map"
            android:exported="true" />
        <activity
            android:name=".LocationActivity"
            android:exported="true" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.user_info"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.book_info"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.group_info"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.mypage"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.mainList_activity"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.add_group"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.add_book"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.main"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.search"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.mygroup"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.mybook"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.group_main"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.group_enter"
            android:exported="true"
            android:parentActivityName=".ui.mainList_activity" />
        <activity
            android:name=".ui.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>